In [1]:
%load_ext autoreload
%autoreload 2
import os
import pandas as pd
os.chdir('../')
print(os.getcwd())

/Users/mielverkerken/horseracing

In [2]:
from IPython.display import display
pd.options.display.max_columns = None

horse_df = pd.read_csv("data/eng/horse.csv")
horse_df["activated"] = pd.to_datetime(horse_df["activated"])
horse_df["yearsactive"] = horse_df["activated"].dt.year - horse_df["fodd"]
print(horse_df.shape)
horse_df.head()

(93682, 26)

,id,name,earnings,earningsii,earningperstart,pliar1,plthisyear2,plthisyear3,startsthisyear,plfgar1,plfgar2,plfgar3,starterfgar,fodd,sex,homecircuit,v75wins,v75starts,v75procent,stallionid,mothersfatherid,coachid,ownerid,key,activated,yearsactive
0,50867,KOLAR SKAFFER,176850.0,100550.0,4570.0,0.0,0.0,0.0,10.0,3.0,2.0,0.0,12.0,2003.0,V,H,NaN,NaN,NaN,4296.0,988.0,463.0,4088.0,556217.0,2011-05-18,8.0
1,2,A DE NIK GRANDE,135535.0,62364.0,2150.0,0.0,0.0,0.0,0.0,1.0,4.0,2.0,22.0,1996.0,V,NaN,0.0,0.0,0.0,3.0,4.0,7261.0,31218.0,196099.0,NaT,NaN
2,5,A ONE,106542.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0.0,1.0,12.0,1993.0,V,NaN,0.0,0.0,0.0,13.0,0.0,2.0,2.0,0.0,NaT,NaN
3,7,A SIGN FROM HEAVEN,44900.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,2.0,15.0,1999.0,S,NaN,0.0,0.0,0.0,15.0,1645.0,3.0,376.0,0.0,2010-02-08,11.0
4,50866,ASPE LEON,0.0,1600.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2004.0,V,H,NaN,NaN,NaN,276.0,885.0,570.0,21596.0,570499.0,NaT,NaN

In [ ]:
import matplotlib.pyplot as plt
horse_df.hist(bins=100, figsize = (40, 30))

array([[<matplotlib.axes._subplots.AxesSubplot object at 0x11710c668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x11712c470>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x11714f6d8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x117179940>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1171a0ba8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x1171c8e10>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1171fa080>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x117222320>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x117222358>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1172717b8>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x117299a20>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1172c4c88>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1172edef0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x11731e198>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x117348400>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x117371668>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x11739b8d0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1173c4b38>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1173f0da0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x117423048>],
       [<matplotlib.axes._subplots.AxesSubplot object at 0x11744b2b0>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x117473518>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x11749e780>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1174c79e8>,
        <matplotlib.axes._subplots.AxesSubplot object at 0x1174f0c50>]],
      dtype=object)

In [4]:
horse_df.nlargest(15, "fodd") # 14 horses are born in the future

,id,name,earnings,earningsii,earningperstart,pliar1,plthisyear2,plthisyear3,startsthisyear,plfgar1,plfgar2,plfgar3,starterfgar,fodd,sex,homecircuit,v75wins,v75starts,v75procent,stallionid,mothersfatherid,coachid,ownerid,key,activated,yearsactive
399,686,AMARCORD,96750.0,0.0,NaN,0.0,0.0,1.0,6.0,0.0,0.0,1.0,8.0,2089.0,V,NaN,0.0,0.0,0.0,301.0,0.0,224.0,312.0,0.0,NaT,NaN
1848,3052,BRYTTE TOR,115300.0,32500.0,NaN,0.0,3.0,0.0,10.0,0.0,0.0,0.0,4.0,2089.0,V,NaN,0.0,0.0,0.0,229.0,690.0,773.0,1119.0,0.0,NaT,NaN
4907,7799,FINALIST,571300.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,2089.0,H,NaN,0.0,7.0,0.0,46.0,0.0,1617.0,2508.0,0.0,NaT,NaN
12985,19799,RADÅN,348400.0,0.0,NaN,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,2089.0,V,NaN,0.0,2.0,0.0,715.0,694.0,2798.0,4830.0,0.0,NaT,NaN
14358,21811,SJURGUTTEN,128650.0,46900.0,NaN,1.0,1.0,1.0,8.0,0.0,2.0,1.0,13.0,2089.0,V,NaN,0.0,0.0,0.0,1377.0,395.0,1624.0,6477.0,0.0,NaT,NaN
16185,24526,TRILJA,312700.0,0.0,NaN,0.0,0.0,0.0,10.0,0.0,1.0,0.0,15.0,2089.0,S,NaN,0.0,1.0,0.0,229.0,0.0,1085.0,4121.0,0.0,NaT,NaN
16594,25170,VAMTOR,189300.0,26500.0,NaN,0.0,0.0,0.0,0.0,0.0,2.0,1.0,8.0,2089.0,V,NaN,0.0,0.0,0.0,0.0,0.0,3849.0,7398.0,0.0,NaT,NaN
16710,25362,VIGGEFLICKAN,206000.0,0.0,NaN,0.0,1.0,0.0,7.0,0.0,0.0,3.0,8.0,2089.0,S,NaN,0.0,0.0,0.0,715.0,0.0,3864.0,7444.0,0.0,NaT,NaN
5367,8471,FREJGYLL,148800.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,1.0,2.0,11.0,2088.0,H,NaN,0.0,1.0,0.0,525.0,0.0,NaN,2698.0,0.0,NaT,NaN
6999,10813,HÅENSÄTER,139550.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0,8.0,2088.0,V,NaN,0.0,1.0,0.0,471.0,0.0,2083.0,3436.0,0.0,NaT,NaN
9292,14225,LIZAK,339670.0,0.0,NaN,3.0,0.0,0.0,11.0,1.0,1.0,1.0,14.0,2088.0,V,NaN,0.0,0.0,0.0,525.0,0.0,NaN,4424.0,0.0,NaT,NaN
10693,16309,MOYF,99450.0,0.0,NaN,0.0,0.0,0.0,0.0,1.0,3.0,0.0,13.0,2088.0,H,NaN,0.0,0.0,0.0,908.0,0.0,2863.0,4995.0,0.0,NaT,NaN
11739,17960,ORR VIRUS,1501062.0,0.0,NaN,0.0,0.0,0.0,3.0,0.0,0.0,0.0,8.0,2088.0,H,NaN,1.0,39.0,2.0,1142.0,0.0,3046.0,5424.0,0.0,NaT,NaN
13693,20847,SABAY,128502.0,0.0,NaN,0.0,0.0,0.0,2.0,0.0,0.0,1.0,8.0,2088.0,V,NaN,0.0,0.0,0.0,908.0,0.0,3341.0,6204.0,0.0,NaT,NaN
2983,4909,CRITERION,183000.0,183000.0,26142.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,7.0,2016.0,H,S,1.0,7.0,14.0,6517.0,71.0,4992.0,25648.0,750847.0,2019-01-14,3.0

In [5]:
horse_df.describe()

,id,earnings,earningsii,earningperstart,pliar1,plthisyear2,plthisyear3,startsthisyear,plfgar1,plfgar2,plfgar3,starterfgar,fodd,v75wins,v75starts,v75procent,stallionid,mothersfatherid,coachid,ownerid,key,yearsactive
count,93682.000000,9.025200e+04,9.034300e+04,8.010900e+04,90530.000000,90529.000000,90529.000000,89015.000000,90468.000000,90477.000000,90480.000000,88970.000000,90589.000000,53839.000000,53840.000000,53840.000000,91275.000000,91271.000000,88648.000000,85387.000000,76875.000000,60487.000000
mean,59220.270404,2.903919e+05,9.201850e+04,6.584506e+03,0.430708,0.429962,0.434712,4.824603,0.863698,0.856394,0.842562,8.707002,2005.567784,0.044949,0.479996,0.838893,2746.705111,919.231640,6848.778991,25829.579409,470561.117867,6.107527
std,30079.830911,8.551266e+05,3.280428e+05,2.123268e+04,0.991585,0.855025,0.817824,4.770063,1.444912,1.228147,1.168873,6.747499,5.724428,0.400212,2.226501,6.635986,2638.482692,1706.306087,7610.175235,19290.053762,296356.651002,2.369787
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,0.000000,1988.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000
25%,34987.250000,3.457700e+04,5.850000e+03,1.400000e+03,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,2001.000000,0.000000,0.000000,0.000000,151.000000,62.000000,663.000000,4899.500000,0.000000,4.000000
50%,59282.500000,1.094000e+05,3.070000e+04,3.030000e+03,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,8.000000,2006.000000,0.000000,0.000000,0.000000,1229.000000,215.000000,4534.500000,29440.000000,602691.000000,6.000000
75%,85309.750000,2.725598e+05,8.484700e+04,6.270000e+03,0.000000,1.000000,1.000000,7.000000,1.000000,1.000000,1.000000,13.000000,2010.000000,0.000000,0.000000,0.000000,5324.000000,620.000000,9300.000000,42091.500000,709502.500000,8.000000
max,109115.000000,5.346811e+07,2.304108e+07,2.197816e+06,18.000000,10.000000,9.000000,76.000000,22.000000,13.000000,10.000000,57.000000,2089.000000,22.000000,86.000000,100.000000,7109.000000,7105.000000,34744.000000,55708.000000,768909.000000,19.000000

In [6]:
print(str(len(horse_df[100 == horse_df["v75procent"]])) + " horses have 100% win on v75")

131 horses have 100% win on v75